.loginForm{
    display: flex;
    width: 60%;
    flex-direction: column;
    margin: auto;
    margin-top: 10%;
    background-color: rgb(92, 97, 248);
    border-radius: 5px;
    color: white;
    gap: 20px;
    font-size: x-large;
    font-weight: 500;
    padding: 10px;

}
.loginForm input{
    margin: auto;
    min-width: 300px;
    padding: 8px;
    border-radius: 5px;
    border: none;
    font-size: x-large;
}
.loginForm label{
    margin: auto;
}
.loginForm button{
    margin: auto;
    width: 150px;
    background-color: white;
    border: none;
    color: rgb(92, 97, 248);
    cursor: pointer;
    padding: 10px;
    font-size: x-large;
    font-weight: 600;
    border-radius: 5px;
}
.loginForm button:hover{
    background-color: rgb(226, 226, 226);
    transition: ease-in-out 150ms;
}
.loginForm p{
    margin: auto;
    cursor: pointer;
}